.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
a{color:#fff;text-decoration:none;}
.header{background:#3399FF;padding:15px;}
.header h1{width:960px;margin:0 auto;font-size:36px;font-weight:bold;}
.content{width:960px;margin:10px auto;}
.mod-header{border-bottom:2px solid #3399ff;margin-top:15px;s}
.mod-header .title{display:inline-block;padding:5px;font-weight:bold;}
.mod-content{padding:10px 0;}

.slideshow li{float:left;margin:10px;_display:inline;}
.slideshow li img{width:220px;}

.footer{color:#ccc;text-align:center;padding:10px;}